html {
  font-family: 'Inter';
  font-size: clamp(0.85rem, 2vw, 1rem);
  font-weight: 400;
  height: 100%;
  background-color: #181818;
}

header {
  padding-top:6vh;
  padding-left:8vw;
  padding-right:8vw;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; /* Use flexbox for alignment */
  align-items: center;
}

nav ul li {
  color: #9AA5B1;
  padding-left: 14px;
  float: left;
}

nav li a {
  color: #9AA5B1;
  display: block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

nav ul li.priority_nav {
  color:#F5F7FA;
  padding-top: 0px;
  font-weight: 800;
}

nav ul li.priority_nav a {
  padding-top: 0px;
  font-weight: 800;
  color:#F5F7FA;
}

section {
  grid-area: content;
  margin: 2em 5%;
}

footer {
  color:#9AA5B1;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Good color for text on light backgrounds */
/* color: rgb(44, 44, 44); */
