main {
    color:#FAFAFA;
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 2vh;
}

p {
    margin-bottom: 1.5vh; 
}

a {
    color:#0db4c6;
    text-decoration: none;
}

hr {
    margin: 24px auto;
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 1px solid #383838;
    max-width: 30%;
}